/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #444;
}

main {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #cbcbcb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.2em;
    text-align: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

img#weather-icon {
    width: 100px;
    height: 100px;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #000000;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: #fff;
    font-size: 0.9em;
}