:root {
    --primary-color: #00274D;
    --secondary-color: #E3B505;
    --accent1-color: #00274D;
    --accent2-color: #E3B505;

    --font-family: "Mulish", sans-serif;
    --primary-heading-size: 2.5rem;
    --primary-heading-weight: 800;
    --secondary-headings-size: 1.5rem;
    --secondary-heading-weight: 600;
    --paragraph-size: 1rem;
    --paragraph-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: var(--font-family);
    text-align: center;
    
}

header {
    background-color: var(--accent1-color);
    color: #E3B505;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-left: 0;
    font-size: 1rem;
    font-family: var(--font-family);
}

header img {
    margin-left: 15px;
    margin-right: 15px;
}

nav {
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: flex;
}

nav a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: white;
    font-family: var(--font-family);
    font-size: 1rem;
}

nav li {
    margin: 0 1rem; /* Espaçamento entre os itens */
}

#menu {
    font-size: 1rem;
    border: 0;
    background: none;
    color: #ffffff;
    margin: 25px;
}

#menu::before {
    content: "☰";
    color: white;
}

#menu.open::before {
    content: "✖";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    color: white;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #E3B505;
    color: #00274D;
}

.open a {
    display: block;
}

/* social */

.social {
    display: inline-flex;
    align-items: center;
    gap: 10px; 
}

.social p {
    font-size: 16px; 
    margin: 0;
    display: flex;
    align-items: center;
}

.social a img {
    width: 30px;
    height: 30px;
}

.social a:nth-child(3) img {
    width: 35px; 
    height: 35px;
}



/* Estilos para a hero image */

.hero {
    position: relative; /* Permite que o texto seja posicionado sobre a imagem */
    width: 100%; /* Ocupa a largura total do contêiner pai */
    max-width: 100%; /* Define uma largura máxima para a hero image */
    max-height: 600px; /* Define uma altura máxima para a hero image */
    margin: 0 auto; /* Centraliza a hero image na página */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites */
    
}

.hero figure {
    margin: 0; /* Remove margens padrão do figure */
}

.hero img {
    width: 100%; /* Faz a imagem ocupar 100% da largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaços extras abaixo da imagem */
}

/* Estilos para o texto sobreposto */
.hero-text {
    position: absolute; /* Posiciona o texto sobre a imagem */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o posicionamento exato */
    text-align: center; /* Centraliza o texto */
    color: var(--white); /* Cor do texto */
    background-color: #00274D;
    padding: 1.5rem; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    max-width: 90%; /* Limita a largura do texto */
    color: white
}

.hero-text h2 {
    font-size: 1.5rem; /* Tamanho grande para o título */
    margin-bottom: 0.5rem; /* Espaçamento abaixo do título */
    font-family: var(--font-family); /* Usa a fonte do texto */
    color: #E3B505;
}

.hero-text p {
    font-size: 1rem; /* Tamanho do parágrafo */
    margin: 0; /* Remove margens padrão */
    font-family: var(--textfont); /* Usa a fonte do texto */
   
}


/* Estilos para o botão de ação */

#join-button {
    display: block; /* Faz o botão ocupar a largura total disponível */
    margin: 20px auto; /* Centraliza o botão horizontalmente */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    font-family: var(--font-family); /* Usa a fonte do site */
    color: white; /* Cor do texto */
    background-color: #00274D;
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s ease; /* Transição suave */
}

#join-button:hover {
    background-color: #E3B505;
    color: #00274D;
}



/* Estilos para o conteúdo principal */


section {
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.event-weather h2 {
    border: 1px solid grey;
}

#events {
    background-color: #f8f9fa;
    text-align: justify;
}

#spotlights {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

#spotlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    text-align: center;
}

.spotlight {
    background-color: #f8f9fa;
    padding: 20px;
    border: 10px;
    font-family: var(--font-family);
}

#events-weather {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna por padrão */
    gap: 20px; /* Espaçamento entre os elementos */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#events-weather > div {
    flex: 1; /* Faz com que ambos os divs ocupem o mesmo espaço */
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.weather-card {
    text-align: center;
}

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--accent1-color);
    color: white;
    height: 130px;
}

/* DISCOVER PAGE */


main#discover {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
}

/* Sidebar */
#sidebar {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    text-align: center;
}

#info {
    width: 100%; 
}

#sidebar h2 {
    border-bottom: 2px solid #E3B505;
    padding-bottom: 5px;
    width: 100%;
    display: block; 
    text-align: center;
}

#info p {
    margin: 5px 0;
}

#Tourist-attractions {
    width: 100%;
    margin-top: 10px;
}

#Tourist-attractions ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#Tourist-attractions li {
    padding: 5px 0;
}

/* Galeria de Fotos */
#photos {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#photos h2 {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #E3B505;
    margin-bottom: 10px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    max-width: 800px;
}

.photo-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#Days {
    margin-top: 10px;
    
}


@media (max-width: 800px) {
    main#discover {
        grid-template-columns: 1fr;
    }
    .photo-grid {
        grid-template-columns: 1fr;
    }

    
}



/* THANKYOU HTML */

main#thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#thanks {
    color: var(--primary-color);
    width: 80%;
    max-width: 900px;
    
}

section#thanks h1 {
    font-size: 3rem;
    margin-bottom: 1px;
    color: var(--secondary-color);
    font-family: var(--font-family);
    margin: 0;
}

section#thanks p {
    font-size: 1.0rem;
    margin: 5px 0;
    font-family: var(--textfont);
}

section#thanks > ul {
    margin-left: 30px;
}






/* join html */

main#join {
    width: 100%; 
    max-width: 1800px;
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box;
}

section#join-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Fieldset */
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: var(--primary-color);
}

/* Label styles */
label {
    display: block;
    font-size: 1rem;
    margin-bottom: 3px;
    color: var(--dark-color);
}

::placeholder {
    color: lightgrey;
}

/* Input fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

label[for="membership"] {
    display: block;
    margin-bottom: 5px;
}

select#membership {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    
}


input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: none;
    border-color: var(--dark-color);
}


label[for="description"] {
    display: block;
    margin-bottom: 5px;
}

textarea#description {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    resize: vertical;
}



/* Submit button */
button[type="submit"] {
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: var(--secondary-color);
}

input[required], select[required] {
    border-left: 4px solid var(--secondary-color);
    padding-left: 4px;
}



/* Membership Levels */

section#membership-levels {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

section#membership-levels p {
    text-align: justify;
}

h2.gold-membership{
    color: #E3B505;
}

h2.silver-membership{
    color: #afafaf;
}

h2.bronze-membership{
    color: #d0aa6e;
}

div.spotlight {
    border-radius: 15px;
    margin-bottom: 15px;
}
#membership-levels h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    color: var(--primary-color);
}