:root {
    --primary-color: #154e13;
    --secondary-color: #d4dfcb;
    --dark-color: #333;
}


nav {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

.formcontainer {
    width: 100%;
    max-width: 600px;
    margin: 1px auto;
    padding: 15px;
    background-color: #d4dfcb;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Fieldset */
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: var(--dark-color);
}

/* Label styles */
label {
    display: block;
    font-size: 1rem;
    margin-bottom: 3px;
    color: var(--dark-color);
}

::placeholder {
    color: lightgrey;
}

/* Input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

input[type="range"] {
    display: inline-block;
    width: 100%;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    border: none; 
    background: white;
    -webkit-appearance: none; 
    appearance: none; 
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px; 
    height: 15px; 
    background-color: var(--primary-color); 
    cursor: pointer; 
}

input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: var(--dark-color);
}

/* Error message */
#passwordError {
    display: block;
    margin-top: 10px;
}

/* Rating span */
#ratingValue {
    font-size: 1rem;
    color: var(--dark-color);
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

/* Submit button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #278a1b;
}

/* Responsive Design */
@media (max-width: 600px) {
    .formcontainer {
        padding: 15px;
    }
    button[type="submit"] {
        font-size: 1rem;
    }
}

.dark-mode .formcontainer {
    background-color: #333;
}

.dark-mode label {
    color: #ffffff;
}

.dark-mode legend {
    color: #ffffff;
}


/* record html */

.record {
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 600px;
    margin: 1px auto;
    padding: 15px;
    border-radius: 8px;
    color: var(--dark-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.record > a {
    color: var(--secondary-color);
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.record > a:hover {
    background-color: #278a1b;
}

.dark-mode .record {
    background-color: #333;
    color: #ffffff;
}



