@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 20px; 
    }

    .card {
        box-shadow: 1px 1px 10px black;
    }
    
    .navigation {
        display: flex !important;
        flex-direction: row;
    }

    nav ul li {
        flex: 1 1 100%;  
    }

    .imagem {
        box-shadow: 1px 1px 10px black;
    }

    #menu {
        display: none;
    }

    .herolabel p {
        font-size: 1.5rem;
    }

} 